/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(87, 213, 241);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

/* Main content styles */
main {
    margin-top: 20px;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px; /* Add padding to create space around the content */
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; /* Center the welcome message */
}

.card {
    
    background-color: rgb(237, 248, 249);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Set a fixed height for the cards */
    border-color: #ea828c;
    border-width: 2px;
}

.card-img-top {
    max-height: 300px; /* Adjusted for 1500x1500 images */
    max-width: 150px;
    object-fit: cover;
    margin: 15px auto 0; /* Center the card images and add top margin */
    border: 1px solid #b2afaf; /* Add border to the card images */
    border-radius: 5px; /* Add some border radius for a smoother appearance */
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 15px;
}

.cart-controls {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add some space between the cart controls */
}

.cart-controls button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px; /* Add more spacing between the cart items */
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #f9f9f9;
    padding: 10px;
}

/* Checkout button styles */
.btn-primary {
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #b02a37;
}

/* Responsive styles */
@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}

#cart-container {
    background-color: #f9f9f9;
    
    border-radius: 2px; /* Add rounded borders */
    padding: 15px; /* Add some padding to the cart container */
}
